<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToGetHer</title>
    <link rel="stylesheet" href="/Css/home.css">
</head>
<body>
<div class="subtitle">
    <span class="large">T</span>
    <span class="small">o</span>
    <span class="large">G</span>
    <span class="small">e</span>
    <span class="small">t</span>
    <span class="large">H</span>
    <span class="small">er</span>
    <br>
    <b>환영합니다! '다같이'는 자유로운 스터디 모임 사이트입니다!</b>
</div>
<div class="button-div">
    <button>Login</button>
    <br>
    <button>SignUp</button>
</div>
</body>
</html>